extends template.pug

block title 
    title flashy
    script

block content
    section#content

        h2 !{JSON.stringify(epicUserHandle)}
        if top25.Int
        p Top 25s !{JSON.stringify(top25)}
        p Kills !{JSON.stringify(kills)}
        p Kill death !{JSON.stringify(kd)}


