extends template.pug

block title 
    title flashy
    script

block content
    section#content

        h2 !{JSON.stringify(epicUserHandle)}
        if accountId
            p
                i Hint: !{JSON.stringify(accountId)}
        p Top 25s !{JSON.stringify(top25)}


